@import "compass/css3/transform";

$rake-thickness: 30px;
$rake-length: 300px;
$handle-size: 50px;

.container {
  position: relative;
}

canvas {
  background-color: #eed;
}

.rake {
  width: $rake-length;
  height: $rake-thickness;
  margin-left: -($rake-length / 2);
  margin-top: -($rake-thickness / 2);
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  overflow: visible;
}

.handle {
  width: $handle-size;
  height: $handle-size;
  position: absolute;
  top: ($rake-thickness - $handle-size) / 2;
  background-color: blue;
}

.handle:hover {
  background-color: yellow;
  cursor: pointer;
}

.handle:active {
  background-color: green;
}

.handle-left {
  left: ($rake-thickness - $handle-size) / 2;
}

.handle-right {
  right: ($rake-thickness - $handle-size) / 2;
}
