@import "compass/css3/transform";

$rake-thickness: 60px;
$rake-length: 360px;
$handle-size: 300px;

.container {
  position: relative;
  width: 800px;
  height: 600px;
}

canvas {
  background-color: #eed;
  background-image: url("sand.png");
}

.rake {
  width: $rake-length;
  height: $rake-thickness;
  position: absolute;
  left: 0;
  top: 0;
  // background-color: red;
  background-image: url("hark.png");
  overflow: visible;
  @include transform-origin(0px, 0px);
}

.rock {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: gray;
}
